html
  head
    title= title
  body
    h1= message
    form(action="/results", method="POST")
      div="City: "
        input(type="text" name="city" placeholder="nyc")
      div="Checkin: "
        input(type="text" name="checkin" placeholder="")
      div="Checkout: "
        input(type="text" name="checkout" placeholder="")
      div
        input(type="submit")