html
  head
    title= "Results"
  body
    h1= "Results"

    table
      tr
        th="Hotel ID"
        th="Hotel Name"
        th="Number of Reviews"
        th="Address"
        th="Number of Stars"
        th="Amenities"
        th="Image"
        th="Snaptravel price"
        th="Hotels.com Price"
      each val, index in results
        tr
          td=val.id
          td=val.hotel_name
          td=val.num_reviews
          td=val.address
          td=val.num_stars
          td=val.amenities
          td
            img(src=val.image_url alt=val.hotel_name)
          td=prices[index][1]
          td=prices[index][0]
